<div id="question-container" class="mt-5 w-full">         
    <form id="question-form" hx-post="{% url 'get-answer' %}" hx-target="#question-container" hx-swap="innerHTML">
        {% csrf_token %}
        <h2 id="heading-text" class="text-3xl text-orange-600 font-semibold text-center mb-4">
            {{ question.text }}
        </h2>
        <ol class="space-y-4 list-none">
            {% for answer in answers %}
            <li class="option flex items-center space-x-4 bg-gray-100 p-4 rounded-lg hover:bg-orange-200 transition-all duration-300">
                <input type="radio" id="answer-{{ forloop.counter0 }}" value="{{ answer.id }}" name="answer_id" required class="h-5 w-5 text-orange-600 border-gray-300 focus:ring-orange-500 focus:ring-2">
                <label for="answer-{{ forloop.counter0 }}" class="text-orange-600 text-lg">{{ answer.text }}</label>
            </li>
            {% endfor %}
        </ol>
        <div class="text-center mt-8">
            <button type="submit" class="bg-orange-600 text-white px-6 py-3 rounded-full text-lg font-semibold hover:bg-orange-700 transition-all duration-300">
                Submit your answer
            </button>
        </div>
    </form>
  </div>
  
  <script>
  document.addEventListener('htmx:afterSwap', function (event) {
      const questionContainer = document.getElementById('question-container');
      questionContainer.scrollIntoView({ behavior: 'smooth' });
  });
  </script>
  
